<div>
  <h1>{{ `${version} - ${name}` }}</h1>
  <h2>{{ description }}</h2>
  <h3>PR:</h3>
  <ul>
    @for (pr of prs; track pr) {
      <li><a [href]="pr" target="_blank">{{ pr }}</a></li>
    }
  </ul>

  <p>{{ `Round trip time: ${elapsed()} milliseconds` }}</p>

  <div style="display: flex; flex-wrap: wrap;">
    <app-resource-pokemon>
      Retrieve Pikachu ArrayBuffer
    </app-resource-pokemon>
    <app-resource-pokemon responseType='blob'>
      Retrieve Pikachu Blob
    </app-resource-pokemon>
  </div>
  <hr />

  <div style="display: flex; flex-wrap: wrap;">
    <app-resource-pokemon-audio>
      Retrieve ArrayBuffer Pikachu Cry 
    </app-resource-pokemon-audio>
    <app-resource-pokemon-audio responseType='blob'>
      Retrieve Blob Pikachu Cry 
    </app-resource-pokemon-audio>
  </div>
  <hr />
</div>
